	<div class="features-3c-wrapper top-margin-60">
						<div class="features-2-card-wrapper">
							<div class="gradient-for-features"></div>
							<div class="features-2-card-main is-home"><img
									src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbc8da9ae0eec69f74d_Layer_1%20(7).webp"
									loading="lazy" width="50" alt="" class="features-2-icon" />
								<div class="features-2-card-title top-margin-20">Source of truth</div>
								<div class="text-medium-16 top-margin-10">Unify all feedback from all sources in
									a matter of few minutes to get the most comprehensive voice of your
									customer.</div>
							</div>
						</div>
						<div class="features-2-card-wrapper">
							<div class="gradient-for-features"></div>
							<div class="features-2-card-main is-home"><img
									src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbc80671c09d554569d_Layer_1%20(8).webp"
									loading="lazy" alt="" width="50" class="features-2-icon" />
								<div class="features-2-card-title top-margin-20">Custom Unified Feedback
									Taxonomy</div>
								<div class="text-medium-16 top-margin-10">Give structure to unstructured
									customer feedback - customized just for you. Taxonomy adapts to changes in
									feedback over time.</div>
							</div>
						</div>
						<div class="features-2-card-wrapper">
							<div class="gradient-for-features"></div>
							<div class="features-2-card-main is-home"><img
									src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbdf53261fa63238432_Vector%20(31).webp"
									loading="lazy" width="40" alt="" class="features-2-icon" />
								<div class="features-2-card-title top-margin-20">Powerful semantic search</div>
								<div class="text-medium-16 top-margin-10">Uncomplicated Google-like search
									across all of your feedback. Search for what the user meant, not just how
									the user said it.</div>
							</div>
						</div>
						<div class="features-2-card-wrapper">
							<div class="gradient-for-features"></div>
							<div class="features-2-card-main is-home"><img
									src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/651b4b5bce751ea0ca3e4544_Enterpret_Profile%20Love.svg"
									loading="lazy" width="50" alt="" class="features-2-icon" />
								<div class="features-2-card-title top-margin-20">Partners</div>
								<div class="text-medium-16 top-margin-10">From implementation and onwards, get
									dedicated data auditors for weekly model refreshes, plus a dedicated CSM
									partner</div>
							</div>
						</div>
						<div class="features-2-card-wrapper">
							<div class="gradient-for-features"></div>
							<div class="features-2-card-main is-home"><img
									src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/65059bbd4ef962529210183b_Layer_1%20(11).webp"
									loading="lazy" width="50" alt="" class="features-2-icon" />
								<div class="features-2-card-title top-margin-20">Unlimited user seats</div>
								<div class="text-medium-16 top-margin-10">Bring your entire team into Enterpret
									without prohibitive costs and foster a culture of customer-centric strategy
								</div>
							</div>