<div class="container-large is-nav"><a href="/" aria-current="page"
							class="nav_brand-logo-link w-nav-brand w--current"><img src="logo.png" loading="lazy"
								width="181" alt="" /></a>
						<nav role="navigation" class="nav_menu w-nav-menu">
							<div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
								<div class="nav-dropdown-toogle w-dropdown-toggle">
									<div class="nav-dropdown-text">Features</div>
								</div>
							</div>
							<div data-hover="true" data-delay="0" class="nav-dropdown is-relative w-dropdown">
								<div class="nav-dropdown-toogle w-dropdown-toggle">
									<div class="nav-dropdown-text">About</div>
								</div>
							</div>
							<a href="/pricing" class="nav-link w-nav-link">Pricing</a><a href="/changelog"
								class="nav-link w-nav-link">Blog</a>
						</nav>
						<div class="nav-right-wrapper"><a href="https://dashboard.enterpret.com/login"
								class="nav-link hide-on-tablet-mobile w-nav-link">Sign In</a><a href="/cta"
								class="button w-inline-block">
								<div class="button-text is-nav">Get Started</div>
							</a>
						</div>