<div id="head-banner" class="header-banner">
				<div class="text-block">Join now and get $50 extra free credits <a href="/cta"
						class="snackbar-link">SignUp</a></div><img
					src="https://assets-global.website-files.com/65030bfd09557ada51fe30e2/651d80f74c23a515563e9890_hb-close.svg"
					loading="lazy" id="bn-close-btn" alt="" class="hb-close" />
			</div>